modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18115
externalPort = 3003

[[ports]]
localPort = 18116
externalPort = 4200

[[ports]]
localPort = 22813
externalPort = 3001

[[ports]]
localPort = 23183
externalPort = 3000

[userenv]

[userenv.shared]
STRIPE_PRICE_DAILY = "price_1TTO98Di10YLVeRwceeiN0SW"
STRIPE_PRICE_WEEKLY = "price_1TTO99Di10YLVeRwAOh333rp"
STRIPE_PRICE_MONTHLY = "price_1TTO99Di10YLVeRwZsxxgrQI"
STRIPE_PRICE_YEARLY = "price_1TTO99Di10YLVeRwdkjAwtlF"
STRIPE_SUBSCRIPTION_PRODUCT_ID = "prod_USIkDXJLW9UBJ2"

[nix]
channel = "stable-25_05"
